<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-SzbVFqr5o0hvnZ2LZmE4dFEykbPx2hc</string>
	<key>GCM_SENDER_ID</key>
	<string>342167863963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.macrohard.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>water-drinker-9000</string>
	<key>STORAGE_BUCKET</key>
	<string>water-drinker-9000.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342167863963:ios:78bce4872cb8a4c7ba7c3e</string>
</dict>
</plist>